@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EF;
}
/*PADRONIZANDO HEADER*/
header{
    width: 95%;
    height: 100px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F4F4F;
    border-radius: 20px;
    position: fixed;
    top: 25px;
}
.nome-site{
    font-weight: 100;
    font-style: italic;
    align-self: center;
    color: white;
    font-size: 45px;
}
#header-logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#header-logo img{
    width: 80px;
    height: 70px;
    align-self: center;
    margin-left: 20px;
}
#navbar{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    gap: 30px;
    list-style: none;
}
.icon-navbar{
    width: 25px;
    align-self: center;
    justify-self: center;
}
.button-navbar{
    display: flex;
    text-decoration: none;
    background-color: #BEE7B8;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
}
.button-navbar:hover{
    transition: 0.5s;
    scale: 95%;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.content-button{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 0px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
/*FIM HEADER*/

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.formulario, .card{
    width: 50%;
    justify-self: center;
    align-self: center;
    
}