@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EF;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
}
header{
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    gap: 100px;
    width: 350px;
}
#header-logo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-weight: 200;
}
#header-logo h2{
    font-weight: 200;
    color: white;
}
#header-logo img{
    width: 80px;
    height: 70px;
    align-self: center;
    margin-left: 20px;
}
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    gap: 30px;
    list-style: none;
    width: 70%;
   
}
.icon-navbar{
    width: 25px;
    align-self: center;
    justify-self: center;
}
.button-navbar{
    display: flex;
    text-decoration: none;
    background-color: #BEE7B8;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
    width: 150px;
    
    
}
.button-navbar:hover{
    transition: 0.5s;
    scale: 95%;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.page-atual{
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
    width: 150px;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.content-button{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 0px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    justify-self: center;
    align-self: center;
}
.nome-usuario, h2{
    color: white;
    font-weight: 200;
    align-self: center;
}
.section-kpis{
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
    width: 85%;
    margin-left: 350px;
    justify-content: space-evenly;
}
.kpi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2F4F4F;
    border: solid 2px #BEE7B8;
    border-radius: 30px;
    width: 30.3%;
    height: 130px;
    color: #BEE7B8;
}
.kpi label{
    width: 20%;
    font-size: 18px;
    text-align: start;
}
.kpi span{
    font-weight: 600;
    font-size: 40px;
    
}
#section_kpis{
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
    width: 85%;
    margin-left: 350px;
    justify-content: space-evenly;
}
.section-graficos{
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
    width: 85%;
    margin-top: 10px;
    margin-left: 350px;
    justify-content: space-evenly;
}
.grafico{
    background-color: #BEE7B8;
    padding: 15px;
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    border: solid 2px #2F4F4F;
}
.barra{
    width: 60%;
}
.label-grafico{
    font-size: 25px;
    background-color: #2F4F4F;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 20px;
    color: white;
}
canvas{
    margin-top: 25px;
}