@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EF;
}
/*PADRONIZANDO HEADER*/
header{
    width: 95%;
    height: 100px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F4F4F;
    border-radius: 20px;
    position: relative;
    top: 25px;
}
.nome-site{
    font-weight: 100;
    font-style: italic;
    align-self: center;
    color: white;
    font-size: 45px;
}
#header-logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#header-logo img{
    width: 80px;
    height: 70px;
    align-self: center;
    margin-left: 20px;
}
#navbar{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    gap: 30px;
    list-style: none;
}
.icon-navbar{
    width: 25px;
    align-self: center;
    justify-self: center;
}
.button-navbar{
    display: flex;
    text-decoration: none;
    background-color: #BEE7B8;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
}
.button-navbar:hover{
    transition: 0.5s;
    scale: 95%;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.content-button{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 0px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
/*FIM HEADER*/
/*section topo*/
.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-self: center;
    align-items: center;
}
#topo-home{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#titulo-principal{
    text-align: center;
    justify-self: center;
    font-size: 60px;
    font-weight: 200;
    font-style: italic;
    text-shadow: #000000 15px 15px 10px;
    margin-top: 100px;
}
#mosaico-imgs{
    width: 85%;
    justify-self: center;
    align-self: center;
}
/*fim section topo*/
.icon-divisor{
    align-self: center;
    justify-self: center;
    margin: 70px 0px 70px 0px;
}
/*CallToAction */
.callToAction{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 30px;
}
.text-callToAction{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}
.text-callToAction h2{
    font-weight: 300;
    font-size: 40px;
}
.text-callToAction p{
    font-weight: 300;
    font-size: 25px;
}
#btt-callToAction{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    width: 380px;
    background-color: #2F4F4F;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}
#btt-callToAction:hover{
    scale: 97%;
    text-decoration: underline;
    background-color: #BEE7B8;
    color: #2F4F4F;
    transition: 0.5s;
    border: #2F4F4F solid 2px;
}
/* FIM CallToAction*/
/*Footer*/
footer{
    background-color: #2F4F4F;
    position: relative;
    bottom: 0;
    margin-top: 100px;
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
#footer-logo img{
    width: 125px;
    height: 110px;
}
#footer-info{
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    margin-right: 100px;
}
.info h2{
    font-weight: 300;
    font-size: 30px;
}
.info li{
    font-weight: 200;
    font-size: 20px;
}
.info li:hover{
    scale: 95%;
    text-decoration: underline;
}
.info a{
    color: white;
    text-decoration: none;
}
.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.sobre-mim h2{
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
}
.eu-e-praia{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.texto{
    width: 450px;
}
#carrossel_historias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    justify-self: center;
    
}
#carrossel_historias img{
    width: 30%;
}
.historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.historia h2{
    justify-self: center;
}
.btn-carrossel{
    width: 50px;
}
.btn-carrossel:hover{
    cursor: pointer;
    scale: 105%;
}

