@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EF;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
}
header{
    left: 0;
    height: 100vh;
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    position: fixed;
    width: 350px;
}
#header-logo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-weight: 200;
}
#header-logo h2{
    font-weight: 200;
    color: white;
}
#header-logo img{
    width: 80px;
    height: 70px;
    align-self: center;
    margin-left: 20px;
}
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    gap: 30px;
    list-style: none;
    width: 70%;
   
}
.icon-navbar{
    width: 25px;
    align-self: center;
    justify-self: center;
}
.button-navbar{
    display: flex;
    text-decoration: none;
    background-color: #BEE7B8;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
    width: 150px;
    
    
}
.button-navbar:hover{
    transition: 0.5s;
    scale: 95%;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.page-atual{
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px 15px 0px 15px;
    height: 40px;
    width: 150px;
    background-color: #2F4F4F;
    border: #BEE7B8 solid 2px;
    color: #BEE7B8;
}
.content-button{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 0px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    justify-self: center;
    align-self: center;
}
.nome-usuario, h2{
    color: white;
    font-weight: 200;
    align-self: center;
}
#viagem-atual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 350px;
    margin-top: 5px;
}
.nenhuma-viagem{
    color: black;
}
#formulario{
    display: none;
    flex-direction: column;
    color: white;
    background-color: #2F4F4F;
    padding: 50px;
    gap: 20px;
    border-radius: 30px;
    width: 40%;
}
label{
    font-weight: 300;
}
input,select{
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #BEE7B8;
}
.inputs-datas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    
}
.campo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button{
    justify-self: center;
    align-self: center;
    width: 50%;
    background-color: #BEE7B8;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
button:hover{
    transition: 0.5s;
    background-color: #2F4F4F;
    color: #BEE7B8;
    border: solid 2px #BEE7B8;
    cursor: pointer;
}
#minha_viagem{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-minhaviagem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2F4F4F;
    width: 80%;
    margin-top: 125px;
    align-items: center;
    border-radius: 30px 5px;
    padding: 25px;
    color: white;
}
.img-destino{
    width: 65%;
    border-radius: 30px;
}
.data{
    width: 50%;
    
}
#contador_caracteres{
    justify-self: flex-end;
    align-self: flex-end;
    color: rgb(227, 227, 227);

}
#input_anotacoes{
    font-weight: 200;
    background-color: #BEE7B8;
    border: none;
    border-radius: 5px;
    height: 150px;
    font-size: 15px;
}
.alerta_erro{
  display: flex;
  justify-content: flex-end;

}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  border: #ff0000 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}
#section-viagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 350px;
}
.title-historico{
    margin-top: 75px;
    background-color: #2F4F4F;
    color: #F2F0EF;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
#lista_viagens{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 25px;
}
.card-viagem{
    display: flex;
    background-color: #2F4F4F;
    width: 100%;
    border-radius: 30px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.card-viagem img{
    width: 35px;
    border-radius: 10px;
    border: solid 2px white;
}
.nome-destino{
    display: flex;
    flex-direction: row;
    gap: 0;
}
.nome-destino h2{
    font-size: 18px;
    font-style: italic;
}
.datas-viagem, .valores-viagem{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.anotacao{
    width: 60%;
    align-self: center;
    justify-self: center;
}
#section_destinos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    width: 100%;
    gap: 10px;
}
.card-destino{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #2F4F4F;
    padding: 15px;
    width: 30%;
    height: 550px;
    border-radius: 20px 0px;
}
.card-destino img{
    width: 90%;
    border-radius:  20px 0px;
    border: solid 2px white;

}
.card-destino h3{
    color: white;
}
.card-destino p{
    padding: 10px;
    height: 150px;
    background-color: #BEE7B8;
    border-radius: 10px;
    
}

